# Ignore Python bytecode and caches
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment directories
venv/
.venv/

# Ignore build directories
build/
dist/
*.egg-info/

# Ignore OS-specific files
.DS_Store

# Ignore API key file
.api_key
